<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a ui-sref="topic" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i>Home
            </a>

            <div class="content-header-show-type">
                <a ui-sref="topic">
                    <i class="icon-ok"></i>
                    <i class="icon-list"></i>title
                </a>
                <a ui-sref="topic">
                    <i class="icon-ok"></i>
                    <i class="icon-indent-right"></i>detail
                </a>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>