<div class="row-fluid">
    <div id="footer" class="span12">
        2014-2015 &copy;Web design by
        <a href="http://microlv.github.io" target="_blank">[my.github.io]</a>
        fork me:
        <a href="https://github.com/microlv/" target="_blank">[microlv]</a>
        <a href="http://angularjs.org" target="_blank">AngularJS v1.3.13</a>
        <a href="http://iojs.org" target="_blank">iojs v1.1</a>
        <a href="http://mongodb.org/" target="_blank">mongodb v2.6.4</a>
    </div>
</div>