<div style="height: 81px">
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav" data-ng-show="isAdmin">
            <li data-ng-show="!isAuth">
                <a href ng-click="login()">
                    <i class="icon-github"></i>
                    <span class="text">Login</span>
                </a>
            </li>
            <li data-ng-show="isAuth">
                <a>
                    <i class="icon icon-user"></i>
                    <span class="text">{{::username}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>