<div class="row article-detail">
    <div class="col-lg-4  text-center">
        <img class=" text-center" src="images/profile.ico" alt="">
        <hr class="star-light">
        <span class="skills">Javascript - Angularjs - Nodejs</span>
    </div>
    <div class="col-lg-8 text-center">
        <p>
            web攻城师，目前就职于RIB公司，职称高级工程师（正所谓专业码农，哈哈），从事angularjs方面的单页应用开发。
        </p>

        <p>
            RIB技术讲师，精通Javascript,nodejs,mongodb。
        </p>

        <p>作为一名从C#转型到web端的开发者，我深刻体会到JS乐趣，这让我热衷于JS方面的开发，目前参与了多个开源的项目的建设。</p>
        <hr class="star-light">

        <div class="text-left">
            <p>PROJECT:</p>

            <p>
                1. ng-web 是一个使用 angularjs,nodejs,mongodb 等热门技术， 目的是建立一个单页应用(sap:single page application)的个人博客系统。
                目前demo网站已使用iojs部署，你完全可以使用它来建立自己的个人博客系统！
            </p>
            <a href="https://github.com/microlv/ng-web.git" target="_blank">[github-ng-web]</a>
            <br/>
            <br/>
            <p>
                2. livejs 是一个支持promise的js库，简单但强大
            </p>
            <a href="https://github.com/microlv/livejs.git" target="_blank">[github-livejs]</a>
            <br/>
            <br/>
            <p>
                3. ngMessage是一款基于angularjs的消息库，它可以使用在任何angularjs框架里，而且，它支持promise!
            </p>
            <a href="https://github.com/microlv/ngMessage.git" target="_blank">[github-ngMessage]</a>
            <br/>
        </div>
    </div>
</div>