<!--Action boxes-->
<div class="container-fluid" ng-controller="actionBoxController">
    <div class="quick-actions_homepage">
        <ul class="quick-actions">
            <li class="bg_lb">
                <a ui-sref="index.news">
                    <i class="icon-dashboard"></i>
                    <span class="label label-important">20</span> News
                </a>
            </li>
            <li class="bg_lg span3">
                <a ui-sref="index.news">
                    <i class="icon-signal"></i>Javascript
                </a>
            </li>
            <li class="bg_ly">
                <a ui-sref="index.news">
                    <i class="icon-inbox"></i>
                    <span class="label label-success">101</span> NodeJS </a>
            </li>
            <li class="bg_lo">
                <a ui-sref="index.news">
                    <i class="icon-th"></i> C#
                </a>
            </li>
            <li class="bg_ls">
                <a ui-sref="index.news">
                    <i class="icon-fullscreen"></i>
                    MongoDB
                </a>
            </li>
            <li class="bg_lo span3">
                <a ui-sref="index.news">
                    <i class="icon-th-list"></i> SQL
                </a>
            </li>
        </ul>
    </div>
</div>
<!--End-Action boxes-->