<div data-ng-controller="editArticleController" style="margin: 10px">
    <select data-ng-model="selectCategory"
            data-ng-options="item.topic for item in category"
            data-ng-value="item.uiSref">
    </select>
    <select data-ng-model="selectTransfer"
            data-ng-options="item.name for item in transfer"
            data-ng-value="item.value">
    </select>
    <input style="width:400px" type="text" data-ng-model="title" required="required"/>
    <text-angular data-ng-model="content"></text-angular>

    <input class="btn btn-success" type="button" data-ng-click="submit()" value="submit"/>
    <input class="btn btn-success" type="button" data-ng-click="clear()" value="clear"/>
</div>