<div class="row article-detail">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>livejs</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <p>livejs是一个支持promise的js库，简单但强大</p>

            <p>特色:</p>

            <p> 1.所有事件均支持promise，并注入defer，在defer里你可以使用 resolve/reject 来控制流程.</p>

            <p> 2.检测异常，并转入到异常处理.</p>

            <br/>

            <p>download from bower:</p>

            <p>bower install livejs -S</p>
        </div>
        <div class="col-lg-4">
            <p>livejs is a promise library, like q/async, but the code is simple and powerful and useful.</p>

            <p>feature:</p>

            <p> 1.every function will inject a argument name 'defer', you can use it to resolve/reject.</p>

            <p> 2.detect the defer.err to see parent function has error or not.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://github.com/microlv/livejs" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download livejs
            </a>
        </div>
    </div>
</div>