<div class="row article-detail">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>ngMessage</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <p>ngMessage是一款基于angularjs的消息发送库，它能使用在 controller(控制器)/service(服务)/factory(工厂) 里，
                由于service/factory是不包括$scope的，因此无法使用$scope来发送消息，而ngMessage正是因些而生！
                而且，它支持promise!
            </p>

            <p>特色:</p>

            <p> 1.强大的消息机制，可当作promise使用.</p>

            <p> 2.基于angular开发，比$scope发送的消息更高效.</p>

            <p> 3.使用单例开发，易于使用，开放接口多.</p>
            <br/>

            <p>download from bower(require angularjs):</p>

            <p>bower install ng-message -S</p>
        </div>
        <div class="col-lg-4">
            <p>ngMessage is message center base on angularjs. it can use the message to inform other controller,
                also support service and factory(these don't contain $rootScope and $scope,
                you can't use $scope to broadcast a message in normal way), and it also support promise and then</p>

            <p>feature:</p>

            <p> 1.powerful message! you can use it like q/async/promise!.</p>

            <p> 2.message for angular, different with $scope.$emit/$broadcast.</p>

            <p> 3.use single service(like message center) to register and send.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://github.com/microlv/ngMessage" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download ngMessage
            </a>
        </div>
    </div>
</div>