<script type="text/ng-template" id="dialog-modal.html">
    <div>
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            $$content$$
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="ok()">OK</button>
            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="login-template.html">
    <div data-ng-controller="loginController">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <!--<div id="#loginbox">-->
            <!--<div id="#loginform">-->
            <!--<div class="control-group">-->
            <!--<div class="controls">-->
            <!--<div class="main_input_box">-->
            <!--<span class="add-on bg_lg"><i class="icon-user"></i></span>-->
            <!--<input type="text" placeholder="Username" data-ng-model="username"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="control-group">-->
            <!--<div class="controls">-->
            <!--<div class="main_input_box">-->
            <!--<span class="add-on bg_ly"><i class="icon-lock"></i></span>-->
            <!--<input type="password" placeholder="Password" data-ng-model="password"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <a href="/api/auth/github">使用GitHub</a>
            <a href="#">使用QQ</a>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="ok()">OK</button>
            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="topic-catalog.html">
    <div class="widget-content nopadding collapse in">
        <ul class="recent-posts">
            <li data-ng-repeat="item in itemSource">
                <div data-article-item data-item="item"></div>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="article-item.html">
    <div>
        <div class="user-thumb">
            <span style="width:40px;height: 50px">{{item.visitCount}}</span>
        </div>
        <div class="article-post">
            <span class="user-info"> By: microlv / {{item.updateAt}} </span>

            <p>
                <a data-ng-href="article({id:'54bb4ffddf9fe31a80e374d0'})">{{item.title}}</a>
            </p>
        </div>
    </div>
</script>