<div style="height: 81px">
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li>
                <a href>
                    <i class="icon icon-user"></i>
                    <span class="text" data-ng-model="username"></span>
                </a>
            </li>
            <li>
                <a href ng-click="login()">
                    <i class="icon-github"></i>
                    <span class="text">Login</span>
                </a>
                <i class="icon-github">{{username}}</i>
            </li>
        </ul>
    </div>
</div>